body{
    margin:0;
    padding:0;
    background:url(imagenes/fondo.jpeg);
}
/*CSS PARA EL HEADER*/
#padre{
    display:flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid rgb(138,190,175);
    background-color:white;
}
#logo img{
    margin-left: 20px;
}
#logo{
    width:35%;
    display: flex;
}
#padre h3{
    margin-top:25px;
    color:rgb(138,190,175);
}
#navegador{
    width:65%;
}
#navegador a{
    color:rgb(138,190,175);
    display:block;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#navegador a:hover{
    background-color: rgb(138,190,175);
    color:white;
}
#navegador ul{
    list-style: none;
    display:flex;
}
#navegador li{
    width: 100%;
    margin-left: -47px;
    text-align: center;
    position: relative;
}
#navegador li:hover .submenu > li{
    display:block;
    top:0px;
}
.submenu li{
    display:none;
    position: absolute;
    top:0px;
}
.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
/*CSS PARA EL FOOTER  NO SE QUE PONER AIUDAAA*/
footer{
    background-color: blue;
}
/*CSS PARA EL INDEX*/
/*CSS PARA EL SLIDER*/
.slider{
    width: 95%;
    margin:auto;
    overflow: hidden;
}

.slider ul{
    padding:0;
    display:flex;
    width:400%;

    animation: cambio 20s infinite;  /*Indica el tiempo de cada slide*/
    animation-direction: alternate; /*Cuando termina la animacion regresa*/
}
@keyframes cambio{
    0%{margin-left:0;}
    20%{margin-left:0;}

    25%{margin-left:-100%;}
    45%{margin-left:-100%;}

    50%{margin-left:-200%;}
    70%{margin-left:-200%;}

    75%{margin-left:-300%;}
    100%{margin-left:-300%;}
}
.slider li{
    list-style: none;
    width:100%;
}
.slider img{
    width:100%;
}
/*CSS PARA EL CONTENEDOR DE PRESENTACION*/
.presentacion{
    height:350px;
    margin:auto;
    width:100%;
    display:flex;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.primero{
    width:70%;
    justify-content: center;
    padding: 5px 30px;
}

.primero h3{
    -webkit-text-stroke: 2px rgb(10,150,183); /*Este de aca es el color del borde de las letras*/
    -webkit-text-fill-color: rgb(138,190,175); /*Este de aca es el color de relleno*/
    font-size: 25px;
}
.segundo{
    width: 30%;
    box-sizing: border-box;
}

.cuadro{
    background-color: rgb(70, 137, 182);
    height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cuadro img{
    height: 90%;
    width: 75%;
    box-sizing: border-box;
}

/*CSS PARA EL CONTENEDOR DE EXPLORA  preguntarle al profe lo de los errores*/
.explorador{
    width:1200px;
    height: 200px;
    margin: 10px auto;
}

div.botones{
    width:200px;
    height: 200px;
    float:left;
    -webkit-transition: height .4s;
}
div#uno{
    background:rgb(1, 129, 174);
}
div#dos{
    background: rgb(0, 171, 186);
}
div#tres{
    background: rgb(1, 129, 174);
}
div#cuatro{
    background: rgb(0, 171, 186);
}
div#cinco{
    background: rgb(1, 129, 174);
}
div#seis{
    background:rgb(0, 171, 186);
}
img.icono{
    display:block;
    margin:50px auto;
    height:40px;
    width: 20%;
    background-color:rgba(255,255,255,0.15);
    padding:20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition: box-shadow 0.4s;
}

.botones p{
    font-size:1.2em;
    color:white;
    text-align: center;
    opacity:0.9;
    font-family: Arial, Helvetica, sans-serif;
}

div.botones:hover{
    height: 219px;
}

div.botones:hover img.icono{
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.6);
}

/*CSS PARA EL FOMULARIO DE REGISTRO*/
/*ACA FALTA CSS Y CENTRAR EL BOTON*/
form{
    width:500px;
    margin:auto;
    padding:20px;
    margin-top: 30px;
    border:1px solid black;
}

form div{
    margin:6px;
}

input{
    width:100%;
}

input[type="submit"]{
    width:30%;
    cursor:pointer;
    margin-top: 10px;
    margin-left:35%;
    box-sizing: content-box;
}
/*CSS PARA LA PAGINA ADOPTA*/
p#frase{
    font-style: italic;
    text-align: center;
    font-weight: bold;
}
.explora{
    height: 300px;
    width: 85%;
    margin:auto;
    margin-top:20px;
    display:flex;
}
div.boton{
    width: 50%;
    box-sizing:border-box;
    height: 300px;
    border: 1px solid white;
}

div#donaciones{
    background-color: rgb(1, 129, 174);
}
div#voluntario{
    background-color:rgb(0, 171, 186);
}

.icon{
    display:block;
    margin:40px auto;
    background-color:rgba(255,255,255,0.15);
    padding:20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition: box-shadow 0.4s;
}
img.icon{
    display:block;
    margin:50px auto;
    height:40px;
    width: 20%;
    background-color:rgba(255,255,255,0.15);
    padding:20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
    -webkit-transition: box-shadow 0.4s;
}

.boton p{
    font-size:1.2em;
    color:white;
    text-align: center;
    opacity:0.9;
    font-family: Arial, Helvetica, sans-serif;
}

div.boton:hover{
    height: 320px;
}

div.boton:hover img.icon{
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.6);
}
/*CSS PARA PARA SEBUSCA*/
.presentación-inverso{
    height:350px;
    margin:auto;
    width:100%;
    display:flex;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.primero-inverso{
    width: 30%;
    box-sizing: border-box;
    margin-left:10px;
}

.segundo-inverso h3{
    -webkit-text-stroke: 2px rgb(10,150,183); /*Este de aca es el color del borde de las letras*/
    -webkit-text-fill-color: rgb(138,190,175); /*Este de aca es el color de relleno*/
    font-size: 40px;
}
.segundo-inverso{
    width:70%;
    justify-content: center;
    padding: 3px 8px;
}
.cuadro img{
    height: 90%;
    width: 75%;
    box-sizing: border-box;
}
/* Apartir de aqui esta lo mio */
#gaa{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    -webkit-text-stroke: 2px rgb(10,150,183); /*Este de aca es el color del borde de las letras*/
    -webkit-text-fill-color: rgb(138,190,175); /*Este de aca es el color de relleno*/
    font-size: 25px;
    width:20%;
}
#gaa1{
    width:25%;
    margin-left: 40px;
    text-align: justify;
    
}
#tabla{
<<<<<<< HEAD
    margin-top: -10cm;
=======
    margin-top: -100px;
>>>>>>> 8d0dffa9468c2e5fb5ea12a98265c704ef4615a8
}
#imagenp{
    margin-left: 20px;
    margin-top: -150px;
}
#gaaa{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
    -webkit-text-stroke: 2px rgb(10,150,183); /*Este de aca es el color del borde de las letras*/
    -webkit-text-fill-color: rgb(138,190,175); /*Este de aca es el color de relleno*/
    font-size: 25px;
    width:20%;
    margin-left: 27cm;
    margin-top: -5cm;
}
#gaaa1{
    width: 20%;
    float:right;
    margin-right:60px;
    text-align: justify;
    margin-top: -20px;
}
#imagenp1{
    margin-left: 570px;
    margin-top: -200px;
    height: 300px;
}
